version: '3.9'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    networks:
      - pictsmanager-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_PASSWORD: ${PMA_PASSWORD}
    ports:
      - 8081:80
    networks:
      - pictsmanager-network
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./media_management:/api/media_management

  api:
    container_name: api
    build:
      context: .
      dockerfile: docker/DockerfileApi
    environment:
      - DB_HOST=db
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - S3_KEY=${S3_KEY}
      - S3_KEY_ID=${S3_KEY_ID}
      - S3_BUCKET=${S3_BUCKET}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_REGION=${S3_REGION}
      - ALLOWED_ORIGINS=http://localhost:8080,
    networks:
      - pictsmanager-network
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 4000:4000

  app:
    container_name: app
    image: pictsmanager-web-prod:latest
    ports:
      - "8080:80"
    networks:
      - pictsmanager-network

volumes:
  db_data:

networks:
  pictsmanager-network:
    driver: bridge