version: '3.9'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_PASSWORD: ${PMA_PASSWORD}
    ports:
      - 8081:80
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./media_management:/api/media_management

  api:
    container_name: api
    build:
      context: .
      dockerfile: docker/DockerfileApi
    env_file:
      - .env

    depends_on:
      db:
        condition: service_healthy
    ports:
      - 4000:4000
volumes:
  db_data:

networks:
  pictsmanager-network:
    driver: bridge